<!DOCTYPE html>
<html lang="fr">
 <head>
    <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
    <title>Catalogue Général Mutiny</title>
    <meta name="author"       content="Francky's Engineering" />
    <meta name="copyright"    content="Copyright (C) 2014-2015 - Francky's Engineering - All rights reserved" />
    <meta name="description"  content="Francky's MuffinMC Language and WebConsole for MUTINY Tahiti's online website." />
    <meta name="keywords"     content="Franck PORCHER,Francky's Engineering,Francky's Belize, Francky's Paris, Francky's Tahiti, Francky's Vancouver,Open Source Software Engineering,Creative IT, Creative design, Innovative Web Solutions,MUTINY Tahiti,Fashion,Surfwear, Tahiti, Multimedia" />
    <link rel="author"        href="mailto:franck.porcher@gmail.com" />
    <link rel="stylesheet"    href="/cgm/css/cgm.common.css" />
    <link rel="stylesheet"    href="/cgm/css/cgm.muffinmc.css" />

   <!-- Grab jQuery from a CDN, fall back to local if necessary -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript">/* <![CDATA[ */
     !window.jQuery && document.write('<script type="text/javascript" src="/cgm/javascripts/jquery-1.11.2.min.js"><\/script>')
/* ]]> */</script>

   <!-- Grab jQuery-UI from a CDN, fall back to local if necessary -->
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">/* <![CDATA[ */
     !window.jQuery.ui && document.write('<script type="text/javascript" src="/cgm/javascripts/jquery-ui-1.11.4.min.js"><\/script>')
/* ]]> */</script>

    <!-- www.franckys.com specialized libraries -->
    <script type="text/javascript" src="/cgm/javascripts/jquery.franckys.tools.js"></script>
    <script type="text/javascript" src="/cgm/javascripts/jquery.franckys.kbd.js"></script>
    <script type="text/javascript" src="/cgm/javascripts/franckys.dump.js"></script>
    <script type="text/javascript" src="/cgm/javascripts/Franckys.js"></script>
    <script type="text/javascript" src="/cgm/javascripts/franckys.cgm.common.js"></script>
    <script type="text/javascript" src="/cgm/javascripts/franckys.replconsole.js"></script>
    <script type="text/javascript" src="/cgm/javascripts/franckys.cgm.muffinmc.js"></script>

    <script>
        ( function($){ 
                $(function(){
                        CGM.start($);
                })
        })(jQuery)
    </script>

 </head>
 <body>
  <% content %>
 </body>
</html>
