<!DOCTYPE html>
<html lang="fr">
 <head>
  <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
    <title>Catalogue Général Mutiny</title>
    <link rel="stylesheet" href="<% request.uri_base %>/css/cgm.common.css" />
    <link rel="stylesheet" href="<% request.uri_base %>/css/cgm.muffinmc.css" />

   <!-- Grab jQuery from a CDN, fall back to local if necessary -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript">/* <![CDATA[ */
     !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery-1.11.2.min.js"><\/script>')
/* ]]> */</script>

   <!-- Grab jQuery-UI from a CDN, fall back to local if necessary -->
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">/* <![CDATA[ */
     !window.jQuery.ui && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery-ui-1.11.4.min.js"><\/script>')
/* ]]> */</script>

    <!-- www.franckys.com specialized libraries -->
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.franckys.tools.js"></script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.franckys.kbd.js"></script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/franckys.dump.js"></script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/Franckys.js"></script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/franckys.cgm.common.js"></script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/franckys.replconsole.js"></script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/franckys.cgm.muffinmc.js"></script>

    <script>
        ( function($){ 
                $(function(){
                        CGM.start($);
                })
        })(jQuery)
    </script>

 </head>
 <body>
  <% content %>
 </body>
</html>
